<a href="https://colab.research.google.com/github/Tristan07999/TensorFlow/blob/master/FirstStep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from __future__ import print_function

import pandas as pd
pd.__version__

'0.24.2'

In [7]:
pd.Series(['Melbourne', 'Sydney', 'Brisbane' ])

0    Melbourne
1       Sydney
2     Brisbane
dtype: object